<!-- <app-schedule ></app-schedule> -->


<!-- <a routerLink="/schedule" title="" *ngIf="currentOwner.completeRegistration">view weekly schedule  </a> -->
<!-- <a routerLink="/ViewClientsToBusiness" title="" *ngIf="currentOwner.completeRegistration">view all clients </a>
<a routerLink="/SetUp" title="">change setting  </a> -->



<div class="input-group mb-9  ">

  <img [src]="pathToLogo" style="height: 10vh; width: 10vw;">
</div>
<nav class="navbar bg-light">
  <ul class="navbar-nav" dir="ltr">

    <li class="nav-item">
      <a class="nav-link text-info" routerLink="/businessHomePage/schedule" [queryParams]="{isBO:true | json }" routerLinkActive="active"
        title="start">weekly time table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-info" routerLink="/businessHomePage/ViewClientsToBusiness" routerLinkActive="active"
        title="Search Business">my clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-info" routerLink="/businessHomePage/SetUp" routerLinkActive="active"
        title="Business Owner">change settings</a>
    </li>
  </ul>
</nav>
    <!-- <li class="nav-item">
    </li> -->
  
<router-outlet></router-outlet>