<p>
  בעל העסק רוצה להצטרף
</p>

<div>
  <label> שם :</label>
  <input type="text" name="ownerName" [(ngModel)]="currentOwner.ownerName" />
</div>
<div>
  <label> עיר :</label>
  <input type="text" name="city" [(ngModel)]="currentOwner.city" />
</div>
<div>
  <label> רחוב :</label>
  <input type="text" name="street" [(ngModel)]="currentOwner.street" />
</div>
<div>
  <label> מספר בית :</label>
  <input type="number" name="HouseNumber" [(ngModel)]="currentOwner.numHouse" />
</div>
<div>
  <label>אימייל:</label>
  <input type="email" name="email" [(ngModel)]="currentOwner.email" />
</div>
<div>
  <label>טלפון:</label>
  <input type="text" name="phoneNumber" [(ngModel)]="currentOwner.phoneNumber" />

</div>


<input type="button" title="אשר" value="אשר" (click)="confirm()">
<input type="button" title="דחה" value="דחה" (click)="reject()">