<div>
  <ul class="nav nav-tabs" dir="ltr">
    
    <li class="nav-item">
      <a class="nav-link text-info" routerLink="/startPage" routerLinkActive="active" title="start">Home</a>
        <!-- <img src="../../../../src/app/pictures/logo.png"> -->
      
    </li>
    <li class="nav-item">
      <a class="nav-link text-info" routerLink="/enterClient" routerLinkActive="active" title="Search Business"> Search Business</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-info" routerLink="/enterBusiness" routerLinkActive="active" title="Business Owner">Business Owner</a>
    </li>
  </ul>
</div>
<!-- <div id="logo">
  <img src="../../../../src/app/pictures/logo.png">
</div> -->

<!-- <div class="content">
  <router-outlet></router-outlet>
</div> -->